body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'KumbhSans-Regular';
  src: local('KumbhSans-Regular'),
    url(./fonts/KumbhSans-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'KumbhSans-Bold';
  src: local('KumbhSans-Bold'),
    url(./fonts/KumbhSans-Bold.ttf) format('opentype');
}
